.footer {
    display: block;
    background-color: $black;
    margin-top: 7vw;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;

    border-top: 1px solid white;
}