{% extends 'base.html.twig' %}

{% block title %}GhostQuill{% endblock %}

{% block body %}

<h1 class="title">Bienvenue sur GhostQuill, le site de partage d'écrits anonymes</h1>

<p ID="main-pres"><span>Exprimez vous !</span><br /><br /> Parce que nous pensons que chacun a quelque chose à écrire, 
    nous choisissons d'offrir un espace d'expression qui ne nécessite aucune inscription, 
    ni aucune donnée personnelle.<br /> <br />

    Vous pouvez commencer par consulter un texte aléatoire de la communauté en choisissant une catégorie <br /><br />

    Inspiré ? alors commencez à <a href="{{ path('home') }}" id="link-write" aria-label="écrire un texte">écrire</a> !
</p>

{% endblock %}