{% extends 'base.html.twig' %}

{% block title %}GhostQuill{% endblock %}

{% block body %}

<div Id="home-container">

    <div id="pres-container">

        <h1 class="title">Bienvenue sur GhostQuill, le site de partage d'écrits anonymes</h1>

        <h2 class="subtitle">Exprimez vous !</h2>
        <p ID="main-pres">Parce que nous pensons que chacun a quelque chose à écrire, 
            nous choisissons d'offrir un espace d'expression qui ne nécessite aucune inscription, 
            ni aucune donnée personnelle.<br /> <br />

            Vous pouvez commencer par consulter un texte aléatoire de la communauté en choisissant une catégorie. <br /><br />

            Inspiré ? alors commencez à <a href="{{ path('home') }}" id="link-write" aria-label="écrire un texte">écrire</a> !
        </p>

    </div>

    <div id="wheel">
        <div class="circle-segment"><span class="circle-segment-text" id="circle-segment-text1">Poème</span></div>
        <div class="circle-segment"><span class="circle-segment-text" id="circle-segment-text2">Lettre</div>
        <div class="circle-segment"><span class="circle-segment-text" id="circle-segment-text3">Témoignage</div>
        <div class="circle-segment"><span class="circle-segment-text" id="circle-segment-text4">Essai</div>
        <div class="circle-segment"><span class="circle-segment-text" id="circle-segment-text5">Discours</div>
        <div class="circle-segment"><span class="circle-segment-text" id="circle-segment-text6">Récit</div>
        <div class="circle-segment"><span class="circle-segment-text" id="circle-segment-text7">Journal <br/>Intime</div>
        <div class="circle-segment"><span class="circle-segment-text" id="circle-segment-text8">Pamphlet</div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
    <script src="/build/scripts/circle.js"></script>
{% endblock %}