{% extends 'base.html.twig' %}

{% block title %}GhostQuill{% endblock %}

{% block body %}

<h1 class="title">Bienvenue sur GhostQuill, le site de partage de textes anonymes</h1>
    <p ID="Main-pres">Texte de présentation</p>












{% endblock %}